<div class="outer-promo-panel">
  <div class="container">
    <div class="row">
      {% for panel in contents.promo_panel %}
      {% if panel.page == page.slug %}
      {% if panel.position == 'Left' %}
      <div class="col-sm-6 col-xs-12">
        <div class="wide-promo wide-promo-11" style="background: url({{ panel.image.url }}) no-repeat center; background-size: cover;">
          <div class="gold">
            <h3 class="gold-heading">{{ panel.title }}</h3>
            <p>{{ panel.description }}</p>
          </div>  
        </div>
      </div>
      {% endif %}
      {% if panel.position == 'Right' %}
      <div class="col-sm-6 col-xs-12">
        <div class="wide-promo wide-promo-22" style="background: url({{ panel.image.url }}) no-repeat center; background-size: cover;">
          <div class="gold">  
            <h3 class="gold-heading">{{ panel.title }}</h3>
            <p>{{ panel.description }}</p>
        </div>  
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>          
  </div>
</div>