---
title: Content type template
slug: content_type_template
listed: true
published: true
cache_strategy: none
response_type: text/html
content_type: sections
---
{% extends parent %}

{% block main %}
	<div class="landing-bg"></div>

	<div class="main landing">

	<div class="container">
	  <div class="row row-slider">
	    <div class="col-xs-12">

	    <div class="flexslider">
	      <ul class="slides">
	        {% for slide in section.slides %}
              <li>
                <img src={{ slide.image.url }} />
                <div class="flex-caption">
                  <div class="title">{{ slide.title }}</div>
                  <div class="caption">{{ slide.description }}</div>
              </div>
              </li>
            {% endfor %}
	      </ul>
	    </div>

	      </div>
	    </div>
	  </div>

	  <!-- END Tripple pack -->

	  <div class="container">
	    <div class="row">
	      <div class="col-md-4 col-sm-6 col-xs-12">
	        <div class="landing-content">
	        	<h1 class="landing-page-heading">{{section.title}}</h1>
						{{ section.body }}
	      	</div>
	      	<div class="underneath" data-set="landing-nav"></div>
	     	</div>


	     <div class="col-md-8 col-sm-6 col-xs-12">

	      <div class="row">

	      <div class="col-md-6 col-sm-12 col-xs-12">
	      <div class="landing-content">

	        {% for top in section.promo_top %}
		        <div class="standard-promo standard-promo-1" style="background: url({{ top.image.url }}) no-repeat scroll center center / cover rgba(0, 0, 0, 0);">
		          <div class="standard-promo-panel standard-promo-panel-purple">
		            <h3 class="standard-promo-panel-heading">{{ top.title }}</h3>
		            <p>
		            	{{ top.description }} 
	                </p>
		          </div>  
		        </div>
          {% endfor %}

	        {% for middle_left in section.promo_middle %}
            {% if middle_left.position == 'Left' %}
              <div class="landing-section">
                <div class="landing-section-img">
                  <img src="{{ middle_left.image.url }}" alt="{{ middle_left.title | escape }}">
                </div>
                <h3 class="landing-section-heading">{{ middle_left.title }}</h3>
                <p>
                	{{ middle_left.description }}
                </p> 
              </div>
            {% endif %}
					{% endfor %}

	        </div>
	      </div>


	      <div class="col-md-6 col-sm-12 col-xs-12">
	      <div class="landing-content landing-content-no-margin">

	        <div class="onright" data-set="landing-nav">

	        <div class="inpage-navigation">
	          {{ section.navigation }}  
	        </div>

	      </div>

	        {% for middle_right in section.promo_middle %}
            {% if middle_right.position == 'Right' %}
              <div class="landing-section">
                <div class="landing-section-img">
                  <img src="{{ middle_right.image.url }}" alt="{{ middle_right.title | escape }}">
                </div>
                <h3 class="landing-section-heading">{{ middle_right.title }}</h3>
                <p>
                	{{ middle_right.description }}
                </p> 
              </div>
            {% endif %}
					{% endfor %}

	      </div>

	      </div>

	    </div>
	    </div>

	    </div><!-- Container and row -->
	  </div> 

	  <!-- Promo panel -->
	  <div class="outer-promo-panel">
	    <div class="container">
	      <div class="row">

	        <div class="col-sm-6 col-xs-12">
	          <div class="wide-promo wide-promo-1">
	            <div class="gold">
	              <h3 class="gold-heading">Membership offer</h3>
	              <p>New members in August can take part in a free studio session Join us!</p>
	            </div>  
	          </div>
	        </div>

	        <div class="col-sm-6 col-xs-12">
	          <div class="wide-promo wide-promo-2">
	            <div class="gold">
	              <h3 class="gold-heading">Personal training</h3>
	              <p>Stay focussed on your goals with a personalised plan from our highly qualified trainers</p>
	            </div>  
	          </div>
	        </div>
	          
	      </div>

	    </div>
	  </div>
	  <!-- END Promo panel -->

	</div>
{% endblock %}