{% extends parent %}

{% block main_content %}
<div class="landing-bg"></div>
<div class="container landing">
  <div class="row row-slider">
    <div class="col-xs-12">

    <div class="flexslider">
      <ul class="slides">
        <li>
          {{ 'landing-slider-1.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">{% editable_text title643, hint: "a title", format: raw, rows: 1 %}Enjoy{% endeditable_text %}</div>
              <div class="caption">{% editable_text title644, hint: "a title", format: raw, rows: 1 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
          </div>
        </li>

        <li>
          {{ 'landing-slider-2.jpg' | theme_image_tag: 'alt:main-slider' }}
          <div class="flex-caption">
              <div class="title">{% editable_text title645, hint: "a title", format: raw, rows: 1 %}Relax{% endeditable_text %}</div>
              <div class="caption">{% editable_text title646, hint: "a title", format: raw, rows: 1 %}wile away the stresses of the day in the mood lit pool{% endeditable_text %}</div>
        </div>
        </li>

      </ul>
    </div>

      </div>
    </div>
  </div>

  <!-- END Tripple pack -->


  <div class="container">
    <div class="row">



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="landing-content">
        <h1 class="landing-page-heading">{% editable_text title49, hint: "a title", format: raw, rows: 1 %}GYM{% endeditable_text %}</h1>

        <span class="page-intro">{% editable_text title50, hint: "a title", format: raw, rows: 1 %}
          We are delighted to announce that Technogym's very latest and premium range of Artis with Wellness gymnasium equipment is now fully installed in the Hogarth gymnasium aka "The Artis Room".{% endeditable_text %}
        </span>

        <p>{% editable_text title51, hint: "a title", format: raw, rows: 1 %}
          ARTIS combines 30 products for cardio, strength and functional training with the seamless Italian design, superior biomechanical engineering, interactive technology through the latest android-based cardio platform called UNITY and eco sustainability, allowing people to reduce, and recycle during their workout to an unparalleled level.{% endeditable_text %}
        </p>

        <p>{% editable_text title52, hint: "a title", format: raw, rows: 1 %}
          The UNITY console also ensures an intuitive, personalised and connected training experience allowing individuals to send emails, watch and catch up on TV, read books and the latest news from any cardio machine whilst mapping fitness details and storing all of them in a personal "Wellness Cloud". Technogym’s UNITY system is even fitted with a web cam allowing users to make video calls with their trainer and Skype their favorite contacts during their workouts.{% endeditable_text %}
        </p>

        <p>{% editable_text title53, hint: "a title", format: raw, rows: 1 %}
          These and numerous other innovative and patented technologies are unique to the Artis equipment, and mark a new level of commitment to Wellness by Technogym and now Hogarth. The technology behind the Artis gymnasium equipment allows our Personal Trainers and members to track and monitor what they do in the Club, at home or anywhere in the world. It is this additional capability that enables us to stay connected beyond the Club and help us support the busy and stressful lifestyles our members often lead. Ultimately, we feel we have the best tools to help our members achieve regular physical activity, optimum nutrition and a positive mental attitude; these are the cornerstones of Welllness.{% endeditable_text %}
        <p>
      </div>
      <div class="underneath" data-set="landing-nav"></div>
    </div>


    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="landing-content">
        <h1>{% editable_text title54, hint: "a title", format: raw, rows: 1 %}The Hogarth Wellness Guide{% endeditable_text %}</h1>
        <h4>{% editable_text title55, hint: "a title", format: raw, rows: 1 %}Preparing for your Wellness Consultation{% endeditable_text %}</h4>
        <ul>
          <li>{% editable_text title56, hint: "a title", format: raw, rows: 1 %}Please arrive punctually for your appointment{% endeditable_text %}</li>
          <li>{% editable_text title57, hint: "a title", format: raw, rows: 1 %}Do not eat or drink (tea, coffee and alcohol) for at least 2 hours prior to your consultation and preferably longer. However, please drink plenty of water{% endeditable_text %}</li>
          <li>{% editable_text title58, hint: "a title", format: raw, rows: 1 %}Do not exercise or use the sauna, steam or Jacuzzi{% endeditable_text %}</li>
          <li>{% editable_text title69, hint: "a title", format: raw, rows: 1 %}Do not smoke for at least 2 hours before your appointment{% endeditable_text %}</li>
          <li>{% editable_text title70, hint: "a title", format: raw, rows: 1 %}Wear loose fitting clothing{% endeditable_text %}</li>
          <li>{% editable_text title71, hint: "a title", format: raw, rows: 1 %}Please contact us as soon as possible if you are unable to attend your appointment so we can reschedule it with you.{% endeditable_text %}</li>

        </ul>
        <p>{% editable_text title72, hint: "a title", format: raw, rows: 1 %}WELLNESS – WHAT IS IT?{% endeditable_text %}</p>
        {{ 'original.JPG' | theme_image_tag: 'alt:original' }}
        
        <p>{% editable_text title73, hint: "a title", format: raw, rows: 1 %}
          It is our aim to help you live a better quality of life by promoting a lifestyle of Wellness. This involves engaging in physical activity and regular exercise, eating balanced and healthy meals and being mentally positive. Hogarth offers fantastic knowledge, experience and services to convey the benefits of regular exercise and a healthy lifestyle to you.{% endeditable_text %}
        </p>
        <h4>{% editable_text title74, hint: "a title", format: raw, rows: 1 %}THE BENEFITS OF WELLNESS INCLUDE{% endeditable_text %}</h4>
        <ul>
          <li>{% editable_text title75, hint: "a title", format: raw, rows: 1 %}Living longer{% endeditable_text %}</li>
          <li>{% editable_text title76, hint: "a title", format: raw, rows: 1 %}More energy
          {% endeditable_text %}</li>
          <li>{% editable_text title77, hint: "a title", format: raw, rows: 1 %}Greater efficiency at work{% endeditable_text %}</li>
          <li>{% editable_text title78, hint: "a title", format: raw, rows: 1 %}Physical, mental and social wellbeing{% endeditable_text %}</li>
        </ul>  
        <p>{% editable_text title79, hint: "a title", format: raw, rows: 1 %}
          The Wellness Pyramid illustrates how combining various elements together can help you achieve an holistic Wellness approach.{% endeditable_text %}
        </p>
        {{ 'original1.JPG' | theme_image_tag: 'alt:original' }}
        <h2>{% editable_text title80, hint: "a title", format: raw, rows: 1 %}Your Wellness Journey{% endeditable_text %}</h2>
        <p>{% editable_text title81, hint: "a title", format: raw, rows: 1 %}
          The Hogarth Group has elected to partner with Technogym to offer the ultimate Wellness experience to members: Wellness on the Go, the ability to experience Wellness anywhere, at any time{% endeditable_text %}
        </p>

        <p>{% editable_text title82, hint: "a title", format: raw, rows: 1 %}
          Your Wellness journey will initially focus around getting you active and exercising regularly at the Club - in the gymnasium, in the studio classes, other options such as swimming, tennis or squash and other outdoor sports and activities that are available at various times of the year including cycling and running.{% endeditable_text %}
        </p>

        <p>{% editable_text title83, hint: "a title", format: raw, rows: 1 %}
          Your physical activity, exercise and other lifestyle behaviours outside of the Club can also be explored. A mywellness cloud (www.mywellness.com) account can be created to give you the ability to track your workout performance, movement levels and progress. It is a cloud based portal that stores all of your data for easy access and analysis, both by yourself and your Personal Trainer.{% endeditable_text %}
        </p>  

        <p>{% editable_text title84, hint: "a title", format: raw, rows: 1 %}
          Other aspects of a Wellness Lifestyle, such as Nutrition, Stress Management, Injury Care and Prevention, can also be considered and built into your Wellness Plan.
          {% endeditable_text %}
        </p>

        <h4>{% editable_text title85, hint: "a title", format: raw, rows: 1 %}Wellness Consultation{% endeditable_text %}</p>
        <ul>
        <li>{% editable_text title86, hint: "a title", format: raw, rows: 1 %}Medical suitability to exercise{% endeditable_text %}</li>
        <li>{% editable_text title87, hint: "a title", format: raw, rows: 1 %}Choose what elements of a Wellness lifestyle to change and how{% endeditable_text %}</li>
        <li>{% editable_text title88, hint: "a title", format: raw, rows: 1 %}Developing motivation and confidence to build a Wellness lifestyle{% endeditable_text %}</li>
        <li>{% editable_text title89, hint: "a title", format: raw, rows: 1 %}Formulating your exercise plan: at the Club, at home, at work, on holiday...anywhere in the world
        {% endeditable_text %}</li>
        </ul>
        <p></p>
        <p></p>
        <h2>{% editable_text title90, hint: "a title", format: raw, rows: 1 %}Personal Trainer; Wellness 1{% endeditable_text %}</h2>
        <p></p>
        <p></p>
        <ul>
        <li>{% editable_text title91, hint: "a title", format: raw, rows: 1 %}Your Wellness Record{% endeditable_text %}</li>
        <li>{% editable_text title92, hint: "a title", format: raw, rows: 1 %}Cardiovascular exercise{% endeditable_text %}</li>
        <li>{% editable_text title93, hint: "a title", format: raw, rows: 1 %}Personalised entertainment{% endeditable_text %}</li>
        <li>{% editable_text title94, hint: "a title", format: raw, rows: 1 %}Stretching and mobility{% endeditable_text %}</li>
        </ul>
        <p></p>
        <p></p>
        <h2>{% editable_text title95, hint: "a title", format: raw, rows: 1 %}Personal Trainer; Wellness 2{% endeditable_text %}</h2>
        <p></p>
        <p></p>
        <ul>
        <li>{% editable_text title96, hint: "a title", format: raw, rows: 1 %}Your Wellness Record{% endeditable_text %}</li>
        <li>{% editable_text title97, hint: "a title", format: raw, rows: 1 %}Cardiovascular exercise refresher{% endeditable_text %}</li>
        <li>{% editable_text title98, hint: "a title", format: raw, rows: 1 %}Resistance training systems and technique{% endeditable_text %}</li>
        <li>{% editable_text title99, hint: "a title", format: raw, rows: 1 %}Exercise classes{% endeditable_text %}</li>
        </ul>
        <p></p>
        <p></p>
        <h2>{% editable_text title100, hint: "a title", format: raw, rows: 1 %}Personal Trainer; Wellness 3{% endeditable_text %}</h2>
        <p></p>
        <p></p>
        <ul>
          <li>{% editable_text title101, hint: "a title", format: raw, rows: 1 %}Your Wellness Record{% endeditable_text %}</li>
          <li>{% editable_text title102, hint: "a title", format: raw, rows: 1 %}Cardiovascular exercise – review workload & progression{% endeditable_text %}</li>
          <li>{% editable_text title103, hint: "a title", format: raw, rows: 1 %}Resistance training – review workload & progression{% endeditable_text %}</li>
          <li>{% editable_text title104, hint: "a title", format: raw, rows: 1 %}Review motivation and confidence to exercise{% endeditable_text %}</li>
        </ul>
        <p></p>
        <p></p>
        <h2>{% editable_text title105, hint: "a title", format: raw, rows: 1 %}Personal Trainer; Wellness 4{% endeditable_text %}</h2>
        <p></p>
        <p></p>
        <ul>
          <li>{% editable_text title106, hint: "a title", format: raw, rows: 1 %}Your Wellness Record{% endeditable_text %}</li>
          <li>{% editable_text title107, hint: "a title", format: raw, rows: 1 %}Interim review of exercise plan, workloads & progression{% endeditable_text %}</li>
        </ul>
        <p></p>
        <p></p>
        <h2>{% editable_text title108, hint: "a title", format: raw, rows: 1 %}Wellness Consultation Review{% endeditable_text %}</h2>
        Your choice from:
        <p></p>
        <p></p>
        <ul>
          <li>{% editable_text title109, hint: "a title", format: raw, rows: 1 %}Personal Trainer Consultation Room Session{% endeditable_text %}</li>
          <li>{% editable_text title110, hint: "a title", format: raw, rows: 1 %}Personal Trainer Gymnasium Session{% endeditable_text %}</li>
          <li>{% editable_text title111, hint: "a title", format: raw, rows: 1 %}Exercise, Nutrition & Weight Loss{% endeditable_text %}</li>
          <li>{% editable_text title112, hint: "a title", format: raw, rows: 1 %}Exercise & Special Populations e.g Pregnancy{% endeditable_text %}</li>
          <li>{% editable_text title113, hint: "a title", format: raw, rows: 1 %}Exercise & Heart Disease{% endeditable_text %}</li>
          <li>Injury Prevention & Rehabilitation</li>
          <li>{% editable_text title114, hint: "a title", format: raw, rows: 1 %}Smoking Cessation{% endeditable_text %}</li>
          <li>{% editable_text title115, hint: "a title", format: raw, rows: 1 %}Any other Wellness or Lifestyle matter!{% endeditable_text %}</li>
        </ul>
        <p></p>
        <p></p>
        <h1>{% editable_text title116, hint: "a title", format: raw, rows: 1 %}The Technogym Wellness Ecosystem{% endeditable_text %}</h1>
        <p></p>
        <p>{% editable_text title117, hint: "a title", format: raw, rows: 1 %}Your fantastic team of Personal Trainers will always be available to help you get the most from this amazing system. You can benefit from “Wellness on the go” both in the Club and out, and use as much or as little of the technology as you choose.{% endeditable_text %} </p>
        <h2>{% editable_text title118, hint: "a title", format: raw, rows: 1 %}The choice is yours.{% endeditable_text %}</h2>
        <p></p>
        <p>{% editable_text title119, hint: "a title", format: raw, rows: 1 %}Access your exercise plan and collect your activity data the way you want to.{% endeditable_text %}</p>
        <p>{% editable_text title120, hint: "a title", format: raw, rows: 1 %}As a Club member it has never been easier to log in and access your exercise plan, be guided round the gymnasium and capture your exercise data to monitor your progress. {% endeditable_text %}</p>
        <p>{% editable_text title121, hint: "a title", format: raw, rows: 1 %}The mywellness cloud (www.mywellness.com) is a one-stop online portal that stores all your personal training data, which you can view and analyse wherever you like. You can log in and collect data through a username and password or through a Technogym device - the choice is yours.{% endeditable_text %}</p>
        <p>{% editable_text title122, hint: "a title", format: raw, rows: 1 %}For members in the Club it has never been easier to log in and capture exercise data. Mywellness cloud offers ascalable solution that allows members to use the collection method they prefer:{% endeditable_text %}</p>
        <p></p>
        <h2>{% editable_text title123, hint: "a title", format: raw, rows: 1 %}1. Log in using USERNAME and PASSWORD.{% endeditable_text %}</h2>
        If you just want basic tracking, simply enter your username and password to log into your mywellness account.
        <p></p>
        <p></p>
        <h2>{% editable_text title124, hint: "a title", format: raw, rows: 1 %}2. Log in using a TECHNOGYM KEY.{% endeditable_text %}</h2>
        The Technogym key is a really smart device that allows you to track your training programme and progress. Just check in and go!
        <p></p>
        <p></p>
        <h2>{% editable_text title125, hint: "a title", format: raw, rows: 1 %}3. Log in using a MYWELLNESS KEY.{% endeditable_text %}</h2>
        The mywellness key takes monitoring your health and fitness to another level. It uses the same technology as the Technogym key to collect and monitor your training, but it also has an accelerometer which allows you to track your daily activity
        <p></p>
        <p></p>
        <h2>{% editable_text title126, hint: "a title", format: raw, rows: 1 %}4. Log in with your SMART PHONE.{% endeditable_text %}</h2>
        If you have an iPhone or an Android phone you can download the mywellness app and use your smartphone to log in. The iPhone uses a QR Code reader, and Android phones use Near Field Communication technology (NFC) - just touch your phone on the NFC sign. Whilst away from the Club
        <p></p>
        {{ 'original2.JPG' | theme_image_tag: 'alt:main-slider' }}
        <p>{% editable_text title127, hint: "a title", format: raw, rows: 1 %}Mywellness cloud offers access to your activity and lifestyle information wherever you are and wherever you like:{% endeditable_text %}</p>
        <p>{% editable_text title128, hint: "a title", format: raw, rows: 1 %}In the gym: using UNITY, the digital interface on Technogym cardiovascular, strength and functional equipment or on VISIOSELF interactive touch screen kiosks located on the gym floor.{% endeditable_text %}</p>
        <p>{% editable_text title129, hint: "a title", format: raw, rows: 1 %}On the move: from a smartphone using the mywellness mobile application or with a tablet or a PC using the mywellness.com website.{% endeditable_text %}</p>
        {{ 'original3.JPG' | theme_image_tag: 'alt:main-slider' }}
        <p>{% editable_text title130, hint: "a title", format: raw, rows: 1 %}          
          Call us today to arrange a personal guided tour:
          020 8994 0500{% endeditable_text %}
        <p>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}
