---
title: Contact

# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
<div class="container landing">
  <div class="container" style="margin-top:150px">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <form method="POST" action="{{contents.contact.public_submission_url}}"  class="form-horizontal" role="form">
          {% csrf_param %}
          <input type="hidden" value="/" name="success_callback" />
          <input type="hidden" value="/contact" name="error_callback" />

          {% if contact.errors %}
            <p>The following errors occured:</p>
            <ul>
            {% for error in contact.errors %}
              <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
            {% endfor %}
            </ul>
          {% endif %}

          <div class="form-group">
            <label for="inputname" class="col-md-6 control-label">Name</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="content[name]" value="{{contact.name}}" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <label for="inputtelephone" class="col-md-6 control-label">Telephone</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="content[telephone]" value="{{contact.telephone}}" placeholder="Telephone">
            </div>
          </div>

          <div class="form-group">
            <label for="inputemail" class="col-md-6 control-label">Email</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="content[email]" value="{{contact.email}}" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <label for="inputpostcode" class="col-md-6 control-label">Postcode</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="content[postcode]" value="{{contact.postcode}}" placeholder="Postcode">
            </div>
          </div>

          <div class="form-group">
            <label for="inputenquiry_type" class="col-md-6 control-label">Enquiry Type</label>
            <div class="col-md-6">
              <select class="form-control" name="content[enquiry_type]" value="{{contact.enquiry_type}}"><option>Personal Tour</option><option>General Enquiry</option><option>Membership Enquiry</option><option></option>Customer Service Enquiry</select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputmessage" class="col-md-6 control-label">Enquiry Type</label>
            <div class="col-md-6">
              <textarea class="form-control" name="content[message]"> {{contact.message}}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputmessage" class="col-md-6 control-label"></label>
            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" value="Send Message">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<div>
{% endblock %}
