---
title: Index
published: true
---

{% include head %}
{% include header %}

{% block main %}
<div class="outer-main">

  <div class="flexslider">
  <ul class="slides">
    {% for slide in contents.home.first.slides %}
      <li>
        <img src="{{ slide.image.url }}" alt="{{ slide.title | escape }}">
        <div class="flex-caption">
          <div class="title">{{ slide.title }}</div>
          <div class="caption">{{ slide.description }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>      

  <div class="container">
    <div class="row">
      {% editable_text "index_body", rows: 20 %}
      <div class="col-sm-4 col-xs-12">
        <div class="tripple-pack-1-img"></div>
        <div class="tripple-pack element">
          <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">Improve posture &amp; strengthen your core</a></h1>
          <p>Introducing Graeme and Lysta Reardon, a dedicated husband and wife team with a combined experience of over 23 years.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="tripple-pack-2-img"></div>
        <div class="tripple-pack element">
          <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">Caribbean BBQ Night- COME AND join us!</a></h1>
          <p>We are hosting Caribbean Night on 17 June. There will be a free Cocktail bar and authentic BBQ @ £10 a head.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="tripple-pack-3-img"></div>
        <div class="tripple-pack element">
          <h1 class="tripple-pack-heading"><a href="http://www.theparkclub.co.uk">Jessica Nail Treatments available</a></h1>
          <p>Jessica Cosmetics is considered a world leading brand, with a range of Jessica nail products to achieve and maintain naturally.</p>
        </div>
      </div>
      {% endeditable_text %}
    </div>
  </div>
</div>
<!-- END Tripple pack -->

<!-- Promo panel -->
    <div class="outer-promo-panel">
      <div class="container">
        <div class="row">
          {% for promo_panel in contents.home.first.promo_panel %}
            {% if promo_panel.position == 'Left' %}
              <a href="{{ promo_panel.link }}">
                <div class="col-sm-6 col-xs-12">
                  <div class="wide-promo wide-promo-11" style="background: url({{ promo_panel.image.url }}) no-repeat center; background-size: cover;">
                    <div class="gold">
                      <h3 class="gold-heading">{{ promo_panel.title }}</h3>
                      <p>{{ promo_panel.description }}</p>
                    </div>  
                  </div>
                </div>
              </a>
            {% endif %}
            {% if promo_panel.position == 'Right' %}
              <a href="{{ promo_panel.link }}">
                <div class="col-sm-6 col-xs-12">
                  <div class="wide-promo wide-promo-22" style="background: url({{ promo_panel.image.url }}) no-repeat center; background-size: cover;">
                    <div class="gold">
                      <h3 class="gold-heading">{{ promo_panel.title }}</h3>
                      <p>{{ promo_panel.description }}</p>
                    </div>  
                  </div>
                </div>
              </a>
            {% endif %}
          {% endfor %}  
        </div>

      </div>
    </div>
    <!-- END Promo panel -->

<!-- Quick Links -->
  {% include quick-links %}  
<!-- END Quick Links -->
{% endblock %}

{% include footer %}