---
title: Index
published: true
---

{% include head %}
{% include header %}

{% block main %}
<div class="outer-main">

  <div class="flexslider">
  <ul class="slides">
    {% for slide in contents.home.first.slides %}
      <li>
        <img src="{{ slide.image.url }}" alt="{{ slide.title | escape }}">
        <div class="flex-caption">
          <div class="title">{{ slide.title }}</div>
          <div class="caption">{{ slide.description }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>      

  <div class="container">
    <div class="row">
      {% for tripple in contents.home.first.tripple_packs %}
        <div class="col-sm-4 col-xs-12">
          <div class="tripple-pack-1-img" style="background: url({{ tripple.image.url }}) no-repeat scroll center center rgba(0, 0, 0, 0);"></div>
          <div class="tripple-pack element">
            <h1 class="tripple-pack-heading"><a href="{{ tripple.link }}">{{ tripple.title }}</a></h1>
            <p>{{ tripple.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- END Tripple pack -->

<!-- Promo panel -->
    <div class="outer-promo-panel">
      <div class="container">
        <div class="row">
          {% for promo_panel in contents.home.first.promo_panel %}
            <a href="{{ promo_panel.link }}">
              <div class="col-sm-6 col-xs-12">
                <div class="wide-promo" style="background: url({{ promo_panel.image.url }}) no-repeat center; background-size: cover;">
                  <div class="gold">
                    <h3 class="gold-heading">{{ promo_panel.title }}</h3>
                    <p>{{ promo_panel.description }}</p>
                  </div>  
                </div>
              </div>
            </a>
          {% endfor %}  
        </div>

      </div>
    </div>
    <!-- END Promo panel -->

<!-- Quick Links -->
  {% include quick-links %}  
<!-- END Quick Links -->
{% endblock %}

{% include footer %}